<%= stylesheet_link_tag "adminator/style-add.css"%>
<div class="app">
    <div class="peers ai-s fxw-nw h-100vh">
      <div class="peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style="background-image:url(<%= asset_path 'adminator/bg.jpg'%>)">
        <div class="pos-a centerXY">
          <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px">
            <%= image_tag "adminator/logo.png", class: "pos-a centerXY" %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
        <h4 class="fw-300 c-grey-900 mB-40">Register</h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email, class: "text-normal text-dark" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "text-normal text-dark" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: "text-normal text-dark" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
    <%= javascript_include_tag "adminator/vendor.js" %>
    <%= javascript_include_tag "adminator/bundle.js"%>
</div>



