<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">
        <%= image_tag "150.png", style: 'height: 50px; width: 50px' %>
    </a>

    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Explore</a>
        </li>
        <li class="nav-item">
            <% if user_signed_in?%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello (Username)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to 'Sign out', destroy_user_session_url, method: :delete, class: "dropdown-item" %>
                    </div>
            <% else%>
                <%= link_to 'Sign in', new_user_session_url, class: "nav-link"%>
            <% end %>
        </li>
    </ul>
</nav>

<div style="background:transparent !important;" class="jumbotron">
    <div class="container">
        <h1 class="display-4" style="text-align:center; padding-bottom:100px">Tagline describing your e-shop</h1>
        <hr width="20%">
        <div class="row" style="text-align:center; margin: auto; max-width: 50%; margin-bottom: 50px;">
            <div class="col-lg-auto">
                 <%= image_tag "150.png" %>
            </div>
            <div class="col-lg-auto">
                <%= image_tag "150.png" %>
            </div>
            <div class="col-lg-auto">
                <%= image_tag "150.png" %>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-secondary">Shop Now!</button>
            </div>
        </div>
    </div>
</div>        
<hr/>
</div>
<div class="row" style="margin: 20px;">
    <div class="col-lg-4 ">
        <%= image_tag "150.png" %>
    </div>
    <div class="col-lg-2">
        <h4>Main Menu</h4>
        <ul class="list-unstyled">
            <li>Home</li>
            <li>About</li>
            <li>Shop</li>
            <li>Help</li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h4>Company</h4>
        <ul class="list-unstyled">
            <li>The Company</li>
            <li>Carrers</li>
            <li>Press</li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h4>Discover</h4>
        <ul class="list-unstyled">
            <li>The Team</li>
            <li>Our History</li>
            <li>Brand Motto</li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h4>Find Us on</h4>
        <ul class="list-unstyled">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </div>
</div>
<footer>
<hr/>
<p style="margin: 20px">
    (c) Your company Name
</footer>